<header>
	<h2 id="title">Create New Task</h2>
	<p id="description">Use this form to create a new task by providing the required details.</p>
</header>
<form class="newTaskForm" (ngSubmit)="handleCreateNewTask()">
	<div>
		<label for="taskNameInput">Task Name</label>
		<input
			type="text"
			id="taskNameInput"
			name="taskName"
			required
			[(ngModel)]="taskName"
			aria-required="true"
		/>
	</div>
	<div>
		<label for="taskDescriptionInput">Description</label>
		<textarea
			id="taskDescriptionInput"
			class="taskDescriptionInput"
			name="taskDescription"
			[(ngModel)]="taskDescription"
			rows="3"
		>

		</textarea>
	</div>
	<div>
		<label for="taskResponsibleInput">Responsible</label>
		<input
			type="text"
			id="taskResponsibleInput"
			name="taskResponsible"
			required
			[(ngModel)]="taskResponsible"
			aria-required="true"
		/>
	</div>
	<div>
		<label for="subTasksList">Subtasks</label>
		<div class="subTasksList" id="subTasksList">
			<div class="subTasksListInput" *ngFor="let subtask of subtasks; let i = index trackBy: trackbyTask">
				<input type="text" [(ngModel)]="subtasks[i]" name="subtask{{i}}" />
				<button class="buttonRemoveSubtask" type="button" (click)="removeSubTask(i)" >X</button>
			</div>
			<button class="secondary" type="button" (click)="addSubTask()">Add new Subtask</button>
		</div>
	</div>
	<div>
		<label for="taskStatusSelect">Status</label>
		<select id="taskStatusSelect" name="taskStatus" [(ngModel)]="taskStatus" required>
			<option *ngFor="let status of selectedBoard?.getStatuses()">
				{{status}}
			</option>
		</select>
	</div>
	<button class="primary" type="submit">Create Task</button>
</form>
