header {
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: var(--secondary-bg);
	width: 100vw;
	height: 60px;
}

header div {
	display: flex;
	justify-content: center;
	align-items: center;
}

.divSelectedBoard {
	display: flex;
	width: 100%;
	height: 100%;
	margin: 0 auto 0;
	justify-content: center;
}

.divSelectedBoard button {
	width: 100%;
	height: 100%;
	justify-content: center;
}

.divAddTask {
	margin-right: 16px;
}

.divSettings {
	margin-right: 8px;
}

ul {
	display: flex;
	flex-direction: column;
	list-style: none;
	padding: 0px;
	margin: 0;
	gap: 10px;
}

.buttonDeleteBoard {
	color: var(--error);
}

.material-icons {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 26px;
	height: 26px;
	border-radius: 50%;
	background-color: var(--background);
}
