<header>
	<div
		style="margin: 0 0 0 8px;"
	>
		<p class="logo">
			KanFlow
		</p>
	</div>
	<div ngClass="divSelectedBoard">
		<button (click)="openSelectModal()">
			{{selectedBoardName || 'No Board Selected'}} <span class="material-icons expandIcon" [ngClass]="{'selectedModalOpen':isSelectBoardModalOpen}">keyboard_arrow_up</span>
		</button>
	</div>
	<div ngClass="divAddTask">
		<button (click)="openNewTaskModal()">
			<span class="material-icons">add</span>
			<span style="display: flex;align-items: center;height: 26px;">Task</span>
		</button>
	</div>
	<div ngClass="divSettings">
		<button (click)="openDropdownSettingsOpen()">
			<span class="material-icons">more_vert</span>
		</button>
		<app-drop-down
			*ngIf="isdropdownSettingsOpen"
			(closeDropdown)="closeDropdownSettingsOpen()"
			[customStyles]="dropDownStyles"
		>
			<ul>
				<li *ngIf="selectedBoard" (click)="openEditBoardModal();closeDropdownSettingsOpen()">
					Edit board
				</li>
				<li *ngIf="selectedBoard" class="buttonDeleteBoard" (click)="openDeleteModal()">
					Delete board
				</li>
				<li (click)="toggleAppTheme()">Toggle theme</li>
			</ul>
		</app-drop-down>
		<app-modal *ngIf="isDeletingModalOpen" (closeModal)="closeDeleteModal()">
			<app-action-confirmation
				[title]="'Confirm Deletion of ' + selectedBoardName"
				[description]="'Are you sure you want to delete the board ' + selectedBoardName + '? This action cannot be undone, and all tasks and subtasks will also be removed.'"
				[buttonName]="'Delete'"
				[buttonAction]="deleteBoard.bind(this)"
				(closeModal)="closeDeleteModal()"
			/>
		</app-modal>
	</div>
</header>
<app-modal *ngIf="isSelectBoardModalOpen" (closeModal)="closeSelectModal()">
	<app-board-list (onNewBoardNotify)="openNewBoardModal()" (closeNotify)="closeSelectModal()"/>
</app-modal>
<app-modal *ngIf="isNewBoardModalOpen" (closeModal)="closeNewBoardModal()">
	<app-new-board-form (CloseModal)="closeNewBoardModal()" />
</app-modal>
<app-modal *ngIf="isNewTaskModalOpen" (closeModal)="closeNewTaskModal()">
	<app-new-task-form (closeModal)="closeNewTaskModal()" />
</app-modal>
<app-modal *ngIf="isEditBoardModalOpen" (closeModal)="closeEditBoardModal()">
	<app-edit-board-form (closeModal)="closeEditBoardModal()" />
</app-modal>
