<section class="kanbanBoard">
	<article class="kanbanColumn" *ngFor="let column of selectedBoard?.columns">
		<header>
			<h2>
				{{column.name}}
			</h2>
		</header>
		<ul
			cdkDropList
			[cdkDropListData]="column.tasks"
			[cdkDropListConnectedTo]="connectedDropLists"
			class="task-list"
			(cdkDropListDropped)="drop($event)"
			id="{{column.name}}"
		>
			<li
				cdkDrag
				[cdkDragDisabled]="!isDragActive"
				class="kanbantask" *ngFor="let task of column.tasks"
			>
				<app-task-card [task]="task" (toggleDragActive)="toggleDragActive()"></app-task-card>
			</li>
		</ul>
	</article>
</section>
