.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.3);
	display: flex;
	cursor: default;
	z-index: 10;
}

.modal-content {
	position: absolute;
	top: 50vh;
	left: 50vw;
	transform: translate(-50%, -50%);
	background-color: var(--secondary-bg);
	padding: 20px;
	border-radius: 4px;
	min-width: 200px;
	max-width: 80vw;
	max-height: 80vh;
	overflow-y: auto;
	z-index: 1000;
}
