.dropdown-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.dropdownMenu {
	position: absolute;
	background-color: var(--secondary-bg);
	border: none;
	border-radius: 8px;
	box-shadow: 0 4px 6px var(--border);
	z-index: 20;
	padding: 16px;
	min-width: 100px;
}
