<article
	(click)="openTaskInfoModal()"
	tabindex="0"
	role="button"
	[attr.aria-label]="'View details for ' +task.title"
>
	<h3>{{task.title}}</h3>
	<p>Responsible: {{task.responsible}}</p>
	<p>Due Date: {{task.dueDate | date: 'dd/MM/yyyy'}}</p>
	<p>Produced: {{task.getCompletedSubtasksCount()}}</p>
</article>

<app-modal *ngIf="isTaskInfoModalOpen" (closeModal)="closeTaskInfoModal()">
	<app-task-info [task]="task" (closeModal)="closeTaskInfoModal()" (openEditTaskModal)="openEditTaskModal()" (openDeleteTaskModal)="openDeleteModal()"></app-task-info>
</app-modal>

<app-modal *ngIf="isEditTaskModalOpen" (closeModal)="closeEditTaskModal()">
	<app-edit-task-form [task]="task" (closeModal)="closeEditTaskModal()"></app-edit-task-form>
</app-modal>

<app-modal *ngIf="isDeletingModalOpen" (closeModal)="closeDeleteModal()">
	<app-action-confirmation
		[title]="'Confirm Deletion of ' + task.title"
		[description]="'Are you sure you want to delete the task ' + task.title + '? This action cannot be undone, and all subtasks will also be removed.'"
		[buttonName]="'Delete'"
		[buttonAction]="deleteTask.bind(this)"
		(closeModal)="closeDeleteModal()"
	/>
</app-modal>
