* {
	cursor: auto;
}

header {
	display: flex;
	flex-direction: row;
	align-items: center;
}

h2 {
	margin: 8px auto 8px 0;
}

ul {
	list-style: none;
	padding: 0;
}

li {
	display: flex;
	align-items: center;
	margin: 0 0 8px 0;
	background-color: var(--background);
	border-radius: 4px;
	padding: 8px;
	cursor: pointer;
}

input[type="checkbox"] {
	margin: 0 8px 0 0;
}

label {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 8px;
	&:hover {
		cursor: pointer;
	}
}

label input, span:hover {
	cursor: pointer;
}

.completedSubtask {
	text-decoration: line-through;
	color: var(--border);
}
