<header>
	<h2 id="title">Edit Board</h2>
	<p id="description">Use this form to edit the selected board.</p>
</header>
<form class="editBoardForm" (ngSubmit)="handleEditBoard()">
	<div>
		<label for="boardName">Board name</label>
		<input
			type="text"
			id="boardName"
			name="boardName"
			required
			[(ngModel)]="editableBoard.title"
			aria-required="true"
			/>
	</div>
	<div>
		<label class="BoardColumns" for="selectingBoardColumns">Board Columns</label>
	</div>
	<div id="selectingBoardColumns">
		<div class="boardColumnInput" *ngFor="let column of editableBoard.columns; let i = index trackBy: trackByColumn">
			<input type="text" [(ngModel)]="editableBoard.columns[i].name" name="column{{i}}" required />
			<button type="button" (click)="removeColumn(i)">X</button>
		</div>
		<button class="secondary" type="button" (click)="addColumn()">Add New Column</button>
	</div>
	<button class="primary" type="submit">Save Changes</button>
</form>
