<header>
	<h2 id="title">Create New Board</h2>
	<p id="description">Use this form to create a new board by providing the required details.</p>
</header>
<form class="newBoardForm" (ngSubmit)="handleCreateNewBoard()">
	<div>
		<label for="boardName">Board Name</label>
		<input
			type="text"
			id="boardName"
			name="boardName"
			required
			[(ngModel)]="boardName"
			aria-required="true"
		/>
	</div>
	<div>
		<label class="BoardColumns" for="selectingBoardColumns">Board Columns</label>
		<div id="selectingBoardColumns">
			<div class="boardColumnInput" *ngFor="let column of columns; let i = index trackBy: trackByColumn">
				<input type="text" [(ngModel)]="columns[i]" id="column{{i}}" name="column{{i}}" required />
				<button type="button" (click)="removeColumn(i)">X</button>
			</div>
			<button class="secondary" type="button" (click)="addColumn()">Add New Column</button>
		</div>
	</div>
		<button class="primary" type="submit">Create New Board</button>
</form>
